<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.cost %></td>
        <td><%= image_tag(product.img_url, :size => "260x180") %></td>
        <td><%= link_to 'Visit', new_order_item_path(:prod_id => product.id) %></td>

    <% end %>
  </tbody>
</table>

<br>

</br>


<h2><%= link_to "My Orders",myorders_index_path(current_user) %></h2>
