<br/>

<h1>Available Products</h1>

<br/>
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="jumbotron">

  <% @products.each do |product| %>

      <h1 class="display-4" ><%= product.title %></h1>
      <h3 class="lead">
        <%= product.description %></h3><br/>
      <h4 class="my-4">
        Cost: <%= product.cost %></h4><br/>
      <%= image_tag(product.img_url, :size => "260x180") %><br/>
      <br/>
      <%= link_to 'Visit', new_order_item_path(:prod_id => product.id),class:"btn btn-primary" %>
      <br/>
      <br/>
  <% end %>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
