<h1>My Addresses</h1>


<br/>
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="jumbotron">

  <% @addresses.each do |address| %>
    <% if address.user_id.to_i == current_user.id.to_i %>

      <h2 class="display-4" ><%= address.name %></h2>
      <br/>
      <h3 class="lead">

        <p>
          <strong>Age:</strong>
          <%= address.age %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= address.phone_number %>
        </p>

        <p>
          <strong>Door no:</strong>
          <%= address.door_no %>
        </p>

        <p>
          <strong>Street:</strong>
          <%= address.street %>
        </p>

        <p>
          <strong>City:</strong>
          <%= address.city %>
        </p>

        <p>
          <strong>District:</strong>
          <%= address.district %>
        </p>

        <p>
          <strong>State:</strong>
          <%= address.state %>
        </p>
        <p>
          <strong>Pincode:</strong>
          <%= address.pincode %>
        </p>


    
      <br/>
      <%= link_to 'Edit', edit_address_path(address),class:"btn btn-success" %>
      <br/>
      <%end%>
  <% end %>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
