<p id="notice"><%= notice %></p>

<h1>My Orders</h1>




<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="jumbotron">

  <% @ordereds.each do |ordered| %>
      <% if current_user.id.to_i == ordered.user_id.to_i %>
      <h1 class="display-4" ><%=Product.find(ordered.order_item.product_id).title %></h1>
      <h3 class="lead">
        <%= Product.find(ordered.order_item.product_id).description %></h3><br/>
        Quantity: <%= ordered.order_item.quantity%>
      <h4 class="my-4">
        Total: <%= ordered.total %></h4><br/>
      <%= image_tag(Product.find(ordered.order_item.product_id).img_url, :size => "260x180") %><br/>
      <br/>
      <%= link_to 'Show', ordered ,class:"btn btn-primary" %> <%= link_to 'Destroy',ordered, class:"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
      <br/>
      <br/>
      <%end%>
  <% end %>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
