<p id="notice"><%= notice %></p>

<h1>My Orders</h1>



<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Image</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordereds.each do |ordered| %>
      <tr>
        <% if current_user.id.to_i == ordered.user_id.to_i %>
        <td><%= Product.find(ordered.order_item.product_id).title %></td>
        <td><%= ordered.order_item.quantity %></td>
        <td><%= image_tag(Product.find(ordered.order_item.product_id).img_url, :size => "260x180") %></td>
        <td><%= ordered.total %></td>
        <td><%= link_to 'Show', ordered %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', shops_path %>
