<%= form_with(model: ordered) do |form| %>
  <% if ordered.errors.any? %>
    <div id="error_explanation">
      <h2><p class="alert alert-danger">Error Occured: </p></h2>
      <ul>
        <% ordered.errors.each do |error| %>
          <p class="alert alert-danger"><%= error.full_message %></p>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">

    <%= form.hidden_field :user_id, :value=>current_user.id  %>
  </div>

  <div class="field">

    <%= form.hidden_field :order_item_id, :value=>@order_item.id %>
  </div>

  <div class="field">

    <%= form.hidden_field :total, :value=>@total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
