<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= (Product.find(@id)).title %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ordered.order_item.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ordered.total %>
</p>

<h3> Order Will be get delivered to: </h3>
<br/>
<%= current_user.name%>,<%= current_user.door_no%>,<%= current_user.street%>,<%= current_user.city%>,<%= current_user.state%>,PINCODE:<%= current_user.pincode%>
<br/>
Contact Number: <%= current_user.phone_number%>
<br/>

<%= link_to 'Edit', edit_order_item_path(:prod_id => @id, :id=>@ordered.order_item.id,:od=>@ordered.id ) %> 
<%= link_to 'Back', shops_path %>
