

<h1>My Products</h1>


<br/>
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="row">
<% if Product.find_by(user_id:current_user.id) %>
  <% @products.each do |product| %>
  <% if current_user.id.to_i == product.user_id.to_i %>
      <div class="col-sm-4">
        <div class="card border-dark mb-4" style="max-width: 25.6rem;">
            <div class="card",style="width: 25.5rem;">
              <% begin %>
               <%= image_tag(product.img_url, :size => "365x300") %> <br/>
               <% rescue %>
               <%= image_tag("no_image/no_image_available.png", :size => "350x300") %> <br/>
            <% end %>
            <div class="card-body">
              <p class="card-text">
              <%= product.title %>  |  <%= product.description %><br/>
                <h5>Rs.<%= product.cost %> | Average Rating: <%=product.rating%>/5 </h5> <br/>
              <%=  link_to 'Show', product, class:"btn btn-secondary" %> <%= link_to 'Edit', edit_product_path(product), class:"btn btn-success" %> <%= link_to 'Remove', product,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <div class="card-footer">

      <% if product.available < 1 %>
      <div class="p-3 mb-2 bg-light text-danger">Sold</div>
      <% elsif product.available <5 %>
      <div class="p-3 mb-2 bg-light text-warning">  Quantity:<%=product.available%>  |  Limited!!!</div>
      <% else %>
      <div class="p-3 mb-2 bg-light text-success">  Quantity:<%=product.available%>  |  Available</div>
      <% end %>
      </div>
          </div>
          </div>
          </div>




      <% end %>
  <% end %>
<% else %>
<div class="container" >
  <p class="alert alert-danger">No Product is Uploaded</p>
  <br/>
  <br/>
 <%= link_to "Add Product",new_product_path, class:"btn btn-success" %>
</div>


<% end %>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
