

<h1>My Products</h1>


<br/>
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="row">

  <% @products.each do |product| %>
  <% if current_user.id.to_i == product.user_id.to_i %>
      <div class="col-sm-4">
        <div class="card border-dark mb-4" style="max-width: 25.6rem;">
          <br/>

            <div class="card",style="width: 25.5rem;">
              <% if product.img_presence.to_i==1 %>
               <%= image_tag(product.img_url, :size => "350x300") %> <br/>
               <% else %>
               <%= image_tag("no_image/no_image.png", :size => "350x300") %> <br/>
            <% end %>
            <div class="card-body">
              <p class="card-text">
              <%= product.title %>  |  <%= product.description %><br/>
                <h5>Rs.<%= product.cost %> | Average Rating: <%=product.rating%>/5 </h5> <br/>
              <%=  link_to 'Show', product, class:"btn btn-secondary" %> <%= link_to 'Edit', edit_product_path(product), class:"btn btn-success" %> <%= link_to 'Destroy', product,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <div class="card-footer">

      <% if product.available < 1 %>
      <div class="p-3 mb-2 bg-light text-danger">Sold</div>
      <% elsif product.available <5 %>
      <div class="p-3 mb-2 bg-light text-warning">  Qunatity:<%=product.available%>  |  Limited!!!</div>
      <% else %>
      <div class="p-3 mb-2 bg-light text-success">  Qunatity:<%=product.available%>  |  Available</div>
      <% end %>
      </div>
          </div>
          </div>
          </div>




      <% end %>
  <% end %>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
