

<h1>My Products</h1>


<br/>
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="jumbotron">

  <% @products.each do |product| %>
  <% if current_user.id.to_i == product.user_id.to_i %>

      <h1 class="display-4" ><%= product.title %></h1>
      <h3 class="lead">
        <%= product.description %></h3><br/>
      <h4 class="my-4">
        Cost: <%= product.cost %></h4><br/>
      <%= image_tag(product.img_url, :size => "260x180") %><br/>
      <br/>
      Available Count: <%= product.available%> <br/>
      <br/>
      <%=  link_to 'Show', product, class:"btn btn-secondary" %> <%= link_to 'Edit', edit_product_path(product), class:"btn btn-success" %> <%= link_to 'Destroy', product,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      <br/>

      <br/>
      <% end %>
  <% end %>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
