<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field" >
    <%= form.hidden_field :user_id,:value=>current_user.id %>
  </div>

  <div class="field" >
    <%= form.hidden_field :rating %>
  </div>

  <div class="col-sm-5"class="form-label">
    <%= form.text_field :title, class:"form-control",placeholder:"Title" %>
  </div>
<br/>
  <div class="col-sm-5" class="form-label">
    <%= form.text_field :description,class:"form-control",placeholder:"Short description" %>
  </div>
<br/>

<div class="col-sm-5" class="form-label">
  <%= form.text_field :about,class:"form-control",placeholder:"About the Product(Detailed)" %>
</div>
<br/>

  <div class="col-sm-5" class="form-label">
    <%= form.text_field :cost,class:"form-control",placeholder:"Cost of the Product" %>
  </div>
<br/>
  <div class="col-sm-5" class="form-label">
    <%= form.file_field :img_url,class:"form-control",placeholder:"Image" %>
  </div>
<br/>
  <div class="col-sm-5" class="form-label">
    <%= form.number_field :available,class:"form-control",placeholder:"Available Count" %>
  </div>
<br/>
  <div class="col-sm-5">
    <%= form.submit class:"btn btn-success" %>
  </div>
<br/>


<% end %>
