<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><p class="alert alert-danger">Error Occured: </p></h2>
      <ul>
        <% review.errors.each do |error| %>
        <p class="alert alert-danger"><%= error.full_message %></p>

        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id,:value=>current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :product_id,:value=>@product.id %>
  </div>


  <div class="col-sm-14"class="form-label">
    <%= form.text_field :comment, class:"form-control",placeholder:"Add Your Comment" %>
  </div>
  <br/>


  <div class="form-label">
    <%= form.label :rate_the_product %><br/>
    <%= form.radio_button :rating, 1 %> 1<br />
    <%= form.radio_button :rating, 2 %> 2<br />
    <%= form.radio_button :rating, 3 %> 3<br />
    <%= form.radio_button :rating, 4 %> 4<br />
    <%= form.radio_button :rating, 5%> 5<br />
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
