
<br/>
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="row">

      <div class="col-sm-4">
        <div class="card border-dark mb-4" style="max-width: 25.6rem;">
            <div class="card",style="width: 25.5rem;">
                <% begin %>
              <%= image_tag(@review.product.img_url, :size => "350x300") %><br/>
              <% rescue %>
                <%= image_tag("no_image/no_image.png", :size => "350x300") %><br/>
              <% end %>
            <div class="card-body">
              <p class="card-text">
              <%= @review.product.title %>  |  <%= @review.product.description %><br/>
                Rs.<%= @review.product.cost %><br/>
                Your Comment: <%= @review.comment %><br/>
                Rating Provided: <%= @review.rating %>/5
                <br/><br/>
                <%= link_to 'Edit', edit_review_path(@review,:prod_id=>@review.product.id),class:"btn btn-secondary" %> <%= link_to 'Back', root_path,class:"btn btn-danger" %>
            </div>
